.allTime{
    width: 320px;
    height: 600px;
    
}

    .borderI{
        border: solid 1px #CDDDCD;
       
        margin-bottom:-1px;
    }

.container{
    width: 600px;
    height: auto;
    
}
img{
    width: 100%;
    height: auto;
}

.personContainer{
    width: 530px;
}
.file{
    width: 180px;
    
}
.borderBottomNone{
    border-bottom: 0px !important;
}
.personContainer{
    border-bottom: 1px solid #CDDDCD;
}